In [1]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('spam.csv', encoding='ISO-8859-1')

In [5]:
df

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN
...,...,...,...,...,...
5567,spam,This is the 2nd time we have tried 2 contact u...,NaN,NaN,NaN
5568,ham,Will Ì_ b going to esplanade fr home?,NaN,NaN,NaN
5569,ham,"Pity, * was in mood for that. So...any other s...",NaN,NaN,NaN
5570,ham,The guy did some bitching but I acted like i'd...,NaN,NaN,NaN
5571,ham,Rofl. Its true to its name,NaN,NaN,NaN

In [6]:
df.shape

(5572, 5)

# تمیز کردن دیتاست

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   v1          5572 non-null   object
 1   v2          5572 non-null   object
 2   Unnamed: 2  50 non-null     object
 3   Unnamed: 3  12 non-null     object
 4   Unnamed: 4  6 non-null      object
dtypes: object(5)
memory usage: 217.8+ KB

In [8]:
# حذف کردن سه ستون اخر
df.drop(columns = ['Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], inplace =True)

In [9]:
df.sample(5)

        v1                                                 v2
3647   ham  As per your request 'Maangalyam (Alaipayuthe)'...
4438   ham               i want to grasp your pretty booty :)
1806  spam  Todays Voda numbers ending 1225 are selected t...
3184   ham  MAYBE IF YOU WOKE UP BEFORE FUCKING 3 THIS WOU...
3913   ham  Today is ACCEPT DAY..U Accept me as? Brother S...

In [25]:
# بازنویسی نام ستون ها 
df.rename(columns = {'v1' : 'target', 'v2' : 'text'},inplace = True)
df.sample(5)

     target                                               text
2250    ham  I am getting threats from your sales executive...
4628    ham  Only saturday and sunday holiday so its very d...
3052    ham                   Pls send me the correct name da.
4832   spam  New Mobiles from 2004, MUST GO! Txt: NOKIA to ...
2570    ham                   From 5 to 2 only my work timing.

In [27]:
# ایجاد یک شیء 
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()

In [36]:
# تبدیل اسپم به یک و هم به صفر
df['target'] = encoder.fit_transform(df['target'])

/Users/babremeshki/anaconda3/envs/pandas_playground/lib/python3.11/site-packages/sklearn/utils/validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
/Users/babremeshki/anaconda3/envs/pandas_playground/lib/python3.11/site-packages/sklearn/utils/validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):

In [35]:
df.head()

   target                                               text
0       0  Go until jurong point, crazy.. Available only ...
1       0                      Ok lar... Joking wif u oni...
2       1  Free entry in 2 a wkly comp to win FA Cup fina...
3       0  U dun say so early hor... U c already then say...
4       0  Nah I don't think he goes to usf, he lives aro...

In [40]:
# null check
df.isnull().sum()

target    0
text      0
dtype: int64

In [41]:
# dup check
df.duplicated().sum()

403

In [42]:
# dup removage
df = df.drop_duplicates(keep='first')

In [44]:
# 2nd dup check
df.duplicated().sum()

0

In [46]:
df.shape

(5169, 2)

# EDA